<h1><%=@post.title%></h1>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: params[:id]%>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit "Add your comment" %>
<% end %>

<% @post.comments.each do |comment| %>
<li><%= comment.content %></li>
<% if comment.user == current_user %>
<li><%= link_to "Edit comment", edit_comment_path(comment) %></li>
<% end %>
<% end %>
